<div class="container">
  <div class="row text-center">
    <div class="btn-group" role="group">
      <%= link_to "Back to project", project_path(@project), class: "btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="well">
        <%= bootstrap_form_for([@project, @expense]) do |f| %>
          <%= f.number_field :amount %>
          <%= f.submit "Add expense to project #{@project.name}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
